main section {
	height: 100%;
	margin-bottom: 5rem;
	font-size: 16px;
	line-height: 21px;

}

@include portrait {
	.section__wrapper {
		& {
			width: calc(100% - 4rem);
			margin: 0 2rem;
		}

		.section__image,
		.section__image img {
				display: none;
		}

		.section__text-block {
			.text-block__main-text {
				min-width: 185px;
			}
		}
	}
}

@include landscape {
	.section__wrapper {
		padding: 0 2%;
		display: grid;

		.section__image {
			display: flex;
			align-items: center;

			img {
				object-fit: cover;
				height: 100%;
				max-width: 90%;
			}
		}
	}

	.haircut--section {
		.section__wrapper {
			grid-template-columns: 4fr 3fr;//here

			.section__image {
				justify-content: flex-end;
			}

		}
	}

	.dye--section {
		.section__wrapper {
			grid-template-columns: 3fr 4fr;//here

			.section__image {
				justify-content: flex-start;
			}
		}
	}
}
