.footer__cta {
  font-family: 'RobotoMono';
	font-weight: 400;
	font-size: 16px;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;


	.cta__wrapper {
		position: relative;
		height: 100%;
		background-color: black;
		color: $soft-white;
		display: flex;
		align-items: center;
		justify-content: center;
		// transition: 200ms ease-out;
	}
}

@include portrait {
	.footer__cta {
		position: fixed;
		height: 100px;
		bottom: 90px;

		.cta__wrapper {
			border-radius: 5px;
			height: 45px;
			// width: 160px;
			// aspect-ratio: 4/1;
		}
	}

	.footer__cta.round {
		position: absolute;

		.cta__wrapper.round {
			height: 100%;
			border-radius: 100%;
			padding: 0;
			aspect-ratio: 1/1;
		}
	}
}


@include mobile {
	.footer__cta {
		.cta__wrapper {
			height: 45px;
			padding: 0 60px;

			transition: transform 1s;
		}
	}
	
	.footer__cta.round {
		top: 55px;
	}
}

@include tablet {
	.footer__cta {
		.cta__wrapper {
			height: 50px;
			padding: 0 70px;
		}
	}
	
	.footer__cta.round {
		top: 100px;
	}
}

@include landscape {
	.footer__cta {
		position: absolute;
		height: 120px;
		top: 140px;
		
		.cta__wrapper {
			height: 100%;
			aspect-ratio: 1/1;
			border-radius: 100%;
		}
	}
}

