@mixin font-face($family, $name, $weight) {
  @font-face {
    font-family: $family;
    src: local($name), url('/src/fonts/' + $family + '/' + $name + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font-face('RobotoMono', 'RobotoMono-Bold', bold);
@include font-face('RobotoMono', 'RobotoMono-SemiBold', 600);
@include font-face('RobotoMono', 'RobotoMono-Medium', 500);
@include font-face('RobotoMono', 'RobotoMono-Regular', normal);
@include font-face('NotoSerifDisplay', 'NotoSerifDisplay-Black', 900);