// @import url('https://fonts.cdnfonts.com/css/vogue');

@font-face {
  font-family: 'Vogue', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/vogue');

}

@font-face {
  font-family: 'Noto Serif Display', serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500;700&display=swap');;
}

@font-face {
  font-family: 'Noto Sans Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');;
}
