@use 'sass:math';

footer {
	position: relative;

	.footer__btn {
		@include landscape {
			.circle {
				background-color: black;
				border-radius: 100%;
				height: 120px;
				aspect-ratio: 1/1;
				position: absolute;
				top: 140px;
				left: 540px;
				z-index: 5;

				.circle__wrapper {
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					.circle__arrow {
						height: 45px;
						aspect-ratio: 1/1;
					}
				}
			}
		}

		@include portrait {
			display: none;// defined in a different place, positioned fixed
		}

	}

	.footer__upper {
		width: 100%;
		font-family: 'Noto Serif Display', serif;
		font-weight: 900;// black

		// .footer__running-line-wrapper {
		// 	background-color: transparent;
		// 	width: 100%;

		// 	@include portrait {
		// 		height: 100px;

		// 		.running-line-content {
		// 			position: relative;
		// 			height: 100%;

		// 			div {
		// 				margin-top: 11px;
		// 				display: flex;
		// 				gap: 0.5rem;
		// 				flex-direction: row;
		// 				justify-content: space-between;
		// 				align-items: center;
		// 				overflow: hidden;
		// 				width: 100%;
		// 				transform: translate(100%, 0);

		// 				p.line-text {
		// 					margin: 0;
		// 					font-size: 100px;
		// 					color: $luvv-blue;
		// 				}
		// 			}
		// 			.ticker-wrapper__first-half,
		// 			.ticker-wrapper__second-half {
		// 				height: 100%;
		// 				display: flex;
		// 				flex-direction: row;
		// 				justify-content: space-between;
		// 				align-items: center;
		// 				position: absolute;
		// 				right: 0;
		// 				animation: ticker $duration infinite linear forwards;
		// 			}

		// 			.ticker-wrapper__second-half {
		// 				animation: $duration ticker math.div($duration, 2) infinite
		// 					linear forwards;
		// 			}

		// 			@keyframes ticker {
		// 				0% {
		// 					transform: translate(100%, 0);
		// 				}

		// 				50% {
		// 					transform: translate(0, 0);
		// 				}

		// 				100% {
		// 					transform: translate(-100%, 0);
		// 				}
		// 			}
		// 		}
		// 	}

		// 	@include landscape {
		// 		height: 200px;

		// 		.running-line-content {
		// 			position: relative;
		// 			height: 100%;

		// 			div {
		// 				margin-top: 24px;
		// 				display: flex;
		// 				gap: 0.5rem;
		// 				flex-direction: row;
		// 				justify-content: space-between;
		// 				align-items: center;
		// 				overflow: hidden;
		// 				width: 100%;
		// 				transform: translate(100%, 0);

		// 				p.line-text {
		// 					margin: 0;
		// 					font-size: 200px;
		// 					color: $luvv-blue;
		// 				}
		// 			}
		// 			.ticker-wrapper__first-half,
		// 			.ticker-wrapper__second-half {
		// 				height: 100%;
		// 				display: flex;
		// 				flex-direction: row;
		// 				justify-content: space-between;
		// 				align-items: center;
		// 				position: absolute;
		// 				right: 0;
		// 				animation: ticker $duration infinite linear forwards;
		// 			}

		// 			.ticker-wrapper__second-half {
		// 				animation: $duration ticker math.div($duration, 2) infinite
		// 					linear forwards;
		// 			}

		// 			@keyframes ticker {
		// 				0% {
		// 					transform: translate(100%, 0);
		// 				}

		// 				50% {
		// 					transform: translate(0, 0);
		// 				}

		// 				100% {
		// 					transform: translate(-100%, 0);
		// 				}
		// 			}
		// 		}
		// 	}

		// }
	}

	.footer__lower {
		height: 315px;
		width: 100%;
		background-color: $luvv-blue;

		.lower__wrapper {
			padding: 50px 0 45px 0;
			position: relative;

			p {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			p.footer__address {
				margin-bottom: 15px;
				height: 67px;
				text-align: center;

				font-weight: 600;// semi-bold
				font-size: 25px;
				color: $soft-white;
			}

			p.footer__small-text {
				font-weight: 400;// regular
				font-size: 16px;
				color: $soft-white;
				height: 26px;
			}

			.footer__social-wrapper {
				margin-top: 10px;
				width: 100%;
				height: 30px;
				display: flex;
				justify-content: center;

				.footer__social-content {
					width: 150px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					i {
						font-size: 30px;
						color: $soft-white;
					}
				}
			}
		}
	}

	.footer__terms {
		color: $soft-white;
		position: absolute;
		bottom: 5px;
		height: 15px;
		font-size: 10px;
		font-weight: 400;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@include landscape {
 footer {
	.footer__upper {
		font-family: 'Noto Serif Display', serif;
		font-weight: 900;// black
		background-color: transparent;
		height: 200px;

		.upper__wrapper {
			padding-top: 22px;
			height: 222px;

			p {
				font-size: 200px;
			}
		}
	}

	.footer__lower {
	}
 }
}

@include portrait {
 footer {
	.footer__upper {
		height: 100px;

		.upper__wrapper {
			padding-top: 11px;
			height: 111px;

			p {
				font-size: 100px;
			}
		}
	}

	.footer__lower {
	}
 }
}
