@use 'sass:math';

body {
	font-family: 'Noto Sans Mono', monospace;
	background-color: $soft-white;
	color: $black;
	font-size: 62.5%;
}

header.nav-bar {
	height: $header-height;
	padding: 4px;

	.nav-bar__logo {
		height: 100%;
	}

	background-color: transparent;
	z-index: 5; // commenjt

	@include small {
		// margin: 2rem 2rem 0 2rem;
		// width: calc(100vw - 4rem);
		background-color: transparent;
		position: absolute;
		margin: 2rem 2rem 0 2rem;
		height: 15%;
		width: calc(100% - 4rem);
		display: flex;
		justify-content: center;
	}

	@include large {
		width: 100vw;
    padding: 20px 120px;
		background-color: $soft-white;
		display: flex;
		justify-content: flex-start;
	}
}

main {
	position: relative;
	z-index: 1;
	overflow: hidden;

	.cover-section {
		position: relative;
		z-index: 1;
	}

	@include small {
		.cover-section {
			// width: calc(100vw - 4rem);
			height: 100vh;
			height: calc(100vh - 4rem);
			margin: 2rem;
			overflow: hidden;

			.imgs-wrapper {
				.img-item.center,
				.img-item.left {
					display: none;
				}

				display: flex;
				gap: 1%;
        height: 100%;
				.img-item {
					flex: 1;
					flex-basis: 0;
					height: 100%;
					// background-repeat: no-repeat;
					// object-fit: cover;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
	}

	@include large {
		.cover-section {
			position: relative;
			height: calc(100vh - $header-height);

			.imgs-wrapper {
				display: flex;
				gap: 1%;
        height: 100%;
				.img-item {
					flex: 1;
					flex-basis: 0;
					height: 100%;
					// background-repeat: no-repeat;
					// object-fit: cover;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}
	}

	.running-line-wrapper {
		position: absolute;
		z-index: 5;
		background: $black;

		@include small {
			bottom: 8%;
			left: 0;
			height: 6%;
			width: 100%;

			.additional {
				display: none;
			}

			.running-line-content {
				position: relative;
				height: 100%;

				div {
					display: flex;
					gap: 0.5rem;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					overflow: hidden;
					width: 100%;
					transform: translate(100%, 0);

					p {
						font-family: 'Inconsolata', monospace;
						margin: 0;
						color: $soft-white;
					}

					p.line-text {
						font-size: 1.3rem;
					}

					p.line-square {
						font-size: 0.5rem;
					}
				}
				.ticker-wrapper__first-half,
				.ticker-wrapper__second-half {
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					position: absolute;
					right: 0;
					animation: ticker $duration infinite linear forwards;
				}

				.ticker-wrapper__second-half {
					animation: $duration ticker math.div($duration, 2) infinite
						linear forwards;
				}

				@keyframes ticker {
					0% {
						transform: translate(100%, 0);
					}

					50% {
						transform: translate(0, 0);
					}

					100% {
						transform: translate(-100%, 0);
					}
				}
			}
		}

		@include large {
			bottom: 0%;
			left: 0;
			height: 6%;
			width: 100%;

			.dilimiter {
				display: none;
			}
			.running-line-content {
				position: relative;
				height: 100%;

				div {
					display: flex;
					gap: 1rem;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					overflow: hidden;
					width: 100%;
					transform: translate(100%, 0);

					p {
						font-family: 'Inconsolata', monospace;
						margin: 0;
						color: $soft-white;
					}

					p.line-text {
						font-size: 1.5rem;
					}

					p.line-square {
						font-size: 0.5rem;
					}
				}
				.ticker-wrapper__first-half,
				.ticker-wrapper__second-half {
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					position: absolute;
					right: 0;
					animation: ticker $duration infinite linear forwards;
				}

				.ticker-wrapper__second-half {
					animation: $duration ticker math.div($duration, 2) infinite
						linear forwards;
				}

				@keyframes ticker {
					0% {
						transform: translate(100%, 0);
					}

					50% {
						transform: translate(0, 0);
					}

					100% {
						transform: translate(-100%, 0);
					}
				}
			}
		}
	}
}
