@use 'sass:math';

body {
  font-family: 'Montserrat';
  background-color: $soft-white;
  color: $black;
  font-size: 62.5%;
}

header {
  position: fixed;
  background-color: transparent;
  z-index: 5;

  @include portrait {
    margin: 2rem 2rem 0 2rem;
    width: calc(100vw - 4rem);

    .svg-content {
      margin-top: .5rem;
    }
  }

  @include landscape {
    width: 100vw;
    height: 10%;
    background-color: $soft-white;
    display: flex;
    justify-content: flex-start;

    .svg-content {
      margin: 1.5% 0 1.5% 17rem;
      width: 15%;
      margin-left: 10%;
    }
  }
}

main {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .cover-section {
    position: relative;

    .imgs-wrapper {
      .img-item.center {
        background-image: url('/src/img/glasses.JPG');
      }

      .img-item.right {
        background-image: url('/src/img/msbhv.JPG');
      }

      .img-item.mobile {
        background-image: url('/src/img/black.JPG');
      }
    }
  }

  @include portrait {
    .cover-section {
      // width: calc(100vw - 4rem);
      height: calc(100vh - 4rem);
      margin: 2rem;
      overflow: hidden;

      .imgs-wrapper {
        .img-item.center,
        .img-item.right {
          display: none;
        }

        .img-item.mobile {
          background-repeat: no-repeat;
          // background-size: calc(100vh - 4rem);
          background-size: 80vh;
          object-fit: cover;
          // background-position: center;
          background-position: top 0 left 40%;
          padding-top: calc(100vh - 4rem); 
        }
      }
    }
  }

  @include landscape {
  }

  .running-line-wrapper {
    position: absolute;
    z-index: 5;
    background: $black;

    @include portrait {
      // left: -2rem;
      bottom: 5rem;
      height: 5.5rem;
      // width: calc(100% + 4rem);
      width: 100%;
    }

    @include landscape {
      bottom: 0;
      left: 0;
      height: 5.5rem;
      width: 100%;
    }
    
    .running-line-content {
      position: relative;

      div {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 6.5rem;
        transform: translate(100%, 0);
    
        p {
          font-family: 'Inconsolata', monospace;;
          color: $soft-white;
        }

        p.line-text {
          font-size: 2rem;
        }

        p.line-square {
          font-size: 1rem;
        }
      }
      .ticker-wrapper__first-half, .ticker-wrapper__second-half {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 5.5rem;
        animation: ticker $duration infinite linear forwards;
      }

      .ticker-wrapper__second-half {
        animation: $duration ticker math.div($duration, 2) infinite linear forwards;
      }

      @keyframes ticker {
        0% {
          transform: translate(100%, 0);
        }
      
        50% {
          transform: translate(0, 0);
        }
      
        100% {
          transform: translate(-100%, 0);
        }
      }
    }
  }


}



