main section {
	height: 100%;
	margin-bottom: 5rem;
	font-size: 16px;
	line-height: 21px;

	.section__wrapper {
		@include s-mobile {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
		}

		@include breakpoint(480px, 1199px) {
			width: calc(100% - 4rem);
			margin: 0 2rem;
		}

		.section__text-block {
			@include s-mobile {
				// max-width: 300px;
				font-size: 13px;
				line-height: 17px;

				.break-md {
						display: none;
				}
			}

			@include mobile {
				// max-width: 460px;

				.break-sm {
						display: none;
				}
			}

			@include s-tablet {
				// max-width: 620px;

				.break-md {
						display: none;
				}

				.break-sm {
						display: none;
				}
			}

			@include tablet {
				// max-width: 820px;

				.break-md {
						display: none;
				}

				.break-sm {
						display: none;
				}
			}
		}
	}
}

